<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="~/WebPage.cshtml" method="post">
            name:<br>
            <input type="text" name="name"><br>
            submit:<br>
            <input type="submit">
        </form>
    </body>
</html>
